# Dependency
node_modules/
dist/
.husky/_/
.pnpm-store

# Logs
logs
*.log

# OS
.DS_Store
desktop.ini

# Cache
*.tsbuildinfo
.eslintcache
.stylelintcache

# Test
coverage/

# Local
.env
.env.*
!.env.example
*.tgz
.cursor/
.agents/
tests/local/
project.private.config.json