@tofrankie:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${TOFRANKIE_SCOPE_NPM_TOKEN}

# For local Verdaccio debugging, use instead:
# @tofrankie:registry=http://localhost:4873/
